#TextBased Analysis

In [1]:
a="Hello, World!"
# Print the variable value in 'a'
print (a)

Hello, World!

In [13]:
a="Hello"
b="world"
# Concatenate the strings 'a' and 'b' and store in variable 'c'
c=a + " " + b
#print variable 'c'
print(c)

Hello world

In [ ]:
a = "Hello World!"
# Print the character at index 1 stored in 'a'
print (a[1]) 
b = "Hello World!"
# Print the substring starting from index 2 and ending at index 4 
print (b[2:5])

In [3]:
a = "Hello World!"
print(len(a))
#print the uppercase version of  the string stored for variable 'a'
print (a.upper())
#print the lowercase version of the string for variable 'a'
print (a.lower())
#Replace the letter 'H' with 'J' in the string stored for variable 'a'
print (a.replace("H","J"))

12
HELLO WORLD!
hello world!
Jello World!

In [4]:
my_string = 'One two three four'
#Split the string stored in the variable 'my_string'
word_list = my_string.split()
# Print the list of words
word_list

['One', 'two', 'three', 'four']

In [5]:
my_string = '1/2/3/4'
# Split the string stored in 'my_string' into a list of numbers using '/' as the delimiter
number_list = my_string.split('/')
number_list

['1', '2', '3', '4']

In [6]:
string = 'peach raspberry strawberry vanilla'
# Split the string stored in variable 'string' into a list of tokens
tokens = string.split()
tokens

['peach', 'raspberry', 'strawberry', 'vanilla']

In [7]:
my_address = 'www.sacredheartuniversity.com'
# Split the string stored in variable 'my_address' into a list of tokens
tokens = my_address.split()
tokens

['www.sacredheartuniversity.com']

In [8]:
str = '17;92;81;12;46;5'
# Split the string stored in variable 'str' into a list of tokens
tokens = str.split()
# Print the tokens obtained after splitting the string
tokens

['17;92;81;12;46;5']

In [9]:
text = 'Anusha Edara'
# Extract slice from index 0 to 7 from the string stored in 'text'
slice1 = text[0:8]
# Extract slice from index 2 to 5 from the string stored in 'text'
slice2 = text[2:5]
# Extract slice from index 6 to 9 from the string stored in 'text'
slice3 = text[6:9]
# Print the slices obtained from the string 'text'
print("slice1" , slice1)
print("slice2", slice2)
print("slice3",slice3)

slice1 Anusha E
slice2 ush
slice3  Ed

In [10]:
a = 'Anusha Edara'
# Print the length of the string stored in 'a'
print(len(a))
# Print the uppercase version of the string in variable 'a'
print(a.upper())
print(a.lstrip())

12
ANUSHA EDARA
Anusha Edara

In [11]:
a = 'Anusha Edara'
print(len(a))
print(a.lower())
print(a.rstrip())
# Print the string stored in the variable 'a'
print(a.strip())

12
anusha edara
Anusha Edara
Anusha Edara

In [12]:
a = 'Anusha Edara'
print(len(a))
# Check if all characters in the string stored in 'a' are alphanumeric and print the result
print(a.isalnum())

12
False